
.center{
    background-color:rgb(138, 142, 146) ;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    background-color: #fff;
    border-radius: 15px;
    border-color: gold;
    padding: 0.8rem;
}

.card > form{
    display: flex;
    flex-direction: column;
}

.card h1, h3{
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
}

.form-item{
    padding: 5px;
    margin-bottom: 2rem;
    height: 30px;
    width: 16rem;
    border: 1px solid grey;
}

.form-submit{

    height: 35px;
    color: #fff;
    background-color: gold;
    border: none;
    border-radius: 6px;
    letter-spacing: 0.2rem;
    transition: 0.3s opacity ease;
    cursor: pointer;
}
.form-submit:hover{
   opacity: 0.6;
}

.center{
  background-image: url("../../binding_dark/drums-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.login-logo{
  color: white;
}